name: Docker Deployment Workflow

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login to Docker Registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: pojono/chatgpt:${{ github.sha }}

      - name: Copy docker-compose.yml to remote VPS
        run: |
          sshpass -p "${{ secrets.VPS_PASSWORD }}" \
          scp -o StrictHostKeyChecking=no \
          -o UserKnownHostsFile=/dev/null \
          -P ${{ secrets.VPS_PORT }} \
          -r docker-compose.yml \
          ${{ secrets.VPS_USERNAME }}@${{ secrets.VPS_IP_ADDRESS }}:~/chatgpt/docker-compose.yml

      - name: Run docker-compose file on remote VPS
        run: |
          sshpass -p "${{ secrets.VPS_PASSWORD }}" \
          ssh -o StrictHostKeyChecking=no \
          -o UserKnownHostsFile=/dev/null \
          -p ${{ secrets.VPS_PORT }} \
          ${{ secrets.VPS_USERNAME }}@${{ secrets.VPS_IP_ADDRESS }} \
          'cd ~/chatgpt && \
          OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY }} \
          TELEGRAM_BOT_TOKEN=${{ secrets.TELEGRAM_BOT_TOKEN }} \
          DOCKER_TAG=${{ github.sha }} \
          OWNER_ID=${{ secrets.OWNER_ID }} \
          SYSTEM_MESSAGE=${{ secrets.SYSTEM_MESSAGE }} \
          docker-compose up -d'